/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

/* - Mobile: 375px
- Desktop: 1440px */

    /* body  {
        background-color: hsl(30, 38%, 92%);
    
    }

    #card   {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 10%;
        margin-top: 60px;
    }

    #image  {
        height: 490px;
        margin-top: 50px;
        border-bottom-left-radius: 3%;
        border-top-left-radius: 3%;
    }

    #card-info  {
        background-color: hsl(0, 0%, 100%);
        height: 450px;
        width: 250px;
        padding: 20px;
        margin-top: 50px;
        border-top-right-radius: 3%;
        border-bottom-right-radius: 3%;
    }

    #product-type   {
        font-family: 'Montserrat', sans-serif;
        color: hsl(228,12%, 48%);
    }

    #name   {
        font-family: 'Fraunces', serif;
        color: hsl(212, 21%, 14%);
        font-weight: 700;
        font-size: 35px;
        display: flex;
        flex-wrap: wrap;
        margin-top: -35px;
    }

    #body-copy  {
        font-family: 'Montserrat', sans-serif;
        color: hsl(228,12%, 48%);
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        margin-top: -10px;
        width: 225px;
        line-height: 20px;
    }

    #price  {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #sale-price {
        font-family: 'Fraunces', serif;
        color: hsl(158, 36%, 37%);
        font-size: 20px;
        margin-left: -30px;
    }

    #original-price {
        font-family: 'Montserrat', sans-serif;
        text-decoration: line-through;
        color: hsl(228,12%, 48%);
        font-size: 14px;
    }

    #button {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: hsl(158, 36%, 37%);
        color:hsl(0, 0%, 100%);
        font-family: 'Montserrat', sans-serif;
        margin-right: 5%;
        cursor: pointer;
        border-radius: 3%;
    } */

body    {
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 1440px) {
    figure  {
        background-image: url(images/image-product-desktop.jpg);
        height: 490px;
        margin: 50px 0 0 0;
        border-bottom-left-radius: 3%;
        border-top-left-radius: 3%;
        width: 100%;
    }
    section     {
        background-color: hsl(0, 0%, 100%);
        height: 450px;
        width: 250px;
        padding: 20px;
        margin-top: 50px;
        border-top-right-radius: 3%;
        border-bottom-right-radius: 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #product-type   {
        font-family: 'Montserrat', sans-serif;
        color: hsl(228,12%, 48%);
        margin-bottom: 50px;
    }
    h1   {
        font-family: 'Fraunces', serif;
        color: hsl(212, 21%, 14%);
        font-weight: 700;
        font-size: 35px;
        display: flex;
        flex-wrap: wrap;
        margin-top: -35px;
        margin-bottom: 0;
    }
}

/* @media screen and (min-width: 375px) {
    figure  {
        background-image: url(images/image-product-mobile.jpg);
    }
} */
    
