body    {
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
    justify-content: center;
    align-items: center; 
}

@media screen and (max-width: 1440px) {
    #blah   {
        display: inline-grid;
        grid-template-columns: 50% 50%;
    }
    #image  {
        background-image: url(images/image-product-desktop.jpg);
        height: 490px;
        margin: 50px 0 0 200px;
        border-bottom-left-radius: 3%;
        border-top-left-radius: 3%;
        width: 500px;
        box-sizing: border-box;
    }
    #type     {
        background-color: hsl(0, 0%, 100%);
        height: 450px;
        width: 250px;
        padding: 20px;
        margin-top: 50px;
        border-top-right-radius: 3%;
        border-bottom-right-radius: 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    #product-type   {
        font-family: 'Montserrat', sans-serif;
        color: hsl(228,12%, 48%);
        margin-bottom: 50px;
    }
    h1   {
        font-family: 'Fraunces', serif;
        color: hsl(212, 21%, 14%);
        font-weight: 700;
        font-size: 35px;
        display: flex;
        flex-wrap: wrap;
        margin-top: -35px;
        margin-bottom: 0;
    }
    #body-copy  {
        font-family: 'Montserrat', sans-serif;
        color: hsl(228,12%, 48%);
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        margin-top: -10px;
        width: 225px;
        line-height: 20px;
    }
    #price  {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 0;
    }
    #sale-price {
        font-family: 'Fraunces', serif;
        color: hsl(158, 36%, 37%);
        font-size: 28px;
        list-style-type: none;
        margin-left: -30px;
    }
    #original-price {
        font-family: 'Montserrat', sans-serif;
        text-decoration: line-through;
        list-style-type: none;
        color: hsl(228,12%, 48%);
        font-size: 14px;
        margin-left: 18px;
    }
    #button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: hsl(158, 36%, 37%);
        margin-right: 5%;
        cursor: pointer;
        height: 40px;
        width: 100%;
        border-radius: 10px;
    }
    #btn-txt    {
        color:hsl(0, 0%, 100%);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
}
/* @media screen and (min-width: 375px) {
    figure  {
        background-image: url(images/image-product-mobile.jpg);
    }
} */
    
